body, html { height:100%; }

* { margin: 0; padding: 0;}


@font-face {
    font-family: 'Squealer';
    src: url('/fonts/squealer.ttf');
}
#myCanvas {
    position:absolute;
    width:100%;
    height:100%;
}

#register-main {
    position: fixed;
    right: 1%;
    top: 1%;
    background-color: rgba(130, 130, 130, 0.8);
    height: 98vh;
    width:30%;
    text-align: center;
    margin: auto;
}
.myCanvas {
    position: fixed;
    right: 1%;
    top: 1%;
}
.register-form {
    width: 300px;
    margin: 0 auto;
    font-family: Tahoma, Geneva, sans-serif;
}
.register-form h1 {
    text-align: center;
    color: #4d4d4d;
    font-size: 24px;
    padding: 20px 0 20px 0;
}
.register-form input[type="password"],
.register-form input[type="text"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    box-sizing:border-box;
}
.register-form input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #535b63;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}