<!DOCTYPE html>
<html>
  <head>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>!-->
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/tokens.js"></script>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script> //NEED URL DECODING
      var session = JSON.parse('<%= session %>')
      console.log(session)
      localStorage.session = session
    </script>
  </head>
  <body>
    
  </body>
</html>
