<!DOCTYPE html>
<html>
  <head>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/tokens.js"></script>
    <link rel='stylesheet' href='/stylesheets/admin.css' />
    <title>Admin</title>
    <script> //NEED URL DECODING

    </script>
  </head>
  <body>
    <h1>YOU HAVE REACHED ADMIN SITE... Click <a href="/home?admin=0">here</a> to go to normal site.</a></h1>
    <p>Remove accounts with id: </p><input id="removeAccount" type="text" value="0"><br>
    <select onchange="modeChanged()" id="mode-database">
      <option>All accounts</option> <!-- selectedindex 0-->
      <option>Accepted accounts</option> <!-- selectedindex 1-->
      <option>Groups data</option> <!-- selectedindex 0-->
    </select><br>
    <div id="database-inventory" class=""></div>
    <script src="/javascripts/admin.js"></script>

  </body>
</html>
