<!DOCTYPE html>
<html>
  <head>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>!-->
    <script src="/javascripts/jquery.min.js"></script>
    <script> // SCRIPT FOR PARSING VARIABLES
      var count_date = "<%= count_date %>"
    </script>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link href="https://fonts.googleapis.com/css2?family=Fruktur&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <canvas id="myCanvas"></canvas>

    <script src="/javascripts/index-canvas.js"></script>
    <script src="/javascripts/index-socket.js"></script>

  </body>
</html>
